doctype xml
tns:FindItem(xmlns:tns="http://schemas.microsoft.com/exchange/services/2006/messages", xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types", Traversal="Shallow")
    tns:ItemShape
        t:BaseShape IdOnly
        t:AdditionalProperties
            t:FieldURI(FieldURI="item:ItemId")
            t:FieldURI(FieldURI="item:DateTimeCreated")
            t:FieldURI(FieldURI="item:DateTimeSent")
            t:FieldURI(FieldURI="item:HasAttachments")
            t:FieldURI(FieldURI="item:Size")
            t:FieldURI(FieldURI="message:From")
            t:FieldURI(FieldURI="message:IsRead")
            t:FieldURI(FieldURI="item:Importance")
            t:FieldURI(FieldURI="item:Subject")
            t:FieldURI(FieldURI="item:DateTimeReceived")
    tns:IndexedPageItemView(BasePoint="Beginning", Offset="0", MaxEntriesReturned=limit)
    tns:ParentFolderIds
        t:DistinguishedFolderId(Id=folderName)
            if emailAddress
                t:Mailbox: t:EmailAddress= emailAddress

