doctype xml
tns:GetItem(xmlns="http://schemas.microsoft.com/exchange/services/2006/messages", xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types")
    tns:ItemShape
        t:BaseShape Default
        t:IncludeMimeContent true
    tns:ItemIds
        t:ItemId(Id=id, ChangeKey=changeKey)
